.nav1{
    background-color: black;
    width: 100%;
    height: 50px;
    display: flex; 
    justify-content: flex-end; 
    align-items: center;
    margin: 0px;
    
}

.nav1 .logo {
  display: flex; 
  align-items: center; 
  margin-right: auto; 
}

.nav1 .logo-image {
  width: 40px; 
  height: 40px;
  margin-right: 10px; 
}

.nav1 .logo-text {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: bold;
}

.nav1 a{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding-right: 20px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.nav1 a:hover{
  background-color: #e0b20d;
}

.container1{
    background-image: url('4.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    height: 600px;
    width: 100%;
    position: relative
}

.container1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); 
    z-index: 0; 
}

.caption {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);  
   
    text-align: center;
    z-index: 1; 
    font-family: 'Arial', sans-serif;
   /* background-color: rgba(0, 0, 0, 0.6);   */
    padding: 20px 40px; 
   
   
}

@keyframes fadeInSlide {
  0% {
      opacity: 0;
      transform: translateY(-30px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}


.caption h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    color: white;
    animation: fadeInSlide 2.0s ease-in-out;
}

.caption h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    color: rgba(255, 255, 255, 0.619);
}



.intro{
    text-align: center;
    padding-top: 50px;
}
#p1{
    font-size: 25px;
    color: #003366;
}
#p2{
   color: gray
}

#button1{
    border-radius: 40%;
}

.chooseUs {
    text-align: center;
    margin: 50px 0;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.chooseUs h3 {
    font-size: 24px;
    color: hsl(210, 100%, 20%);
    margin-bottom: 20px;
}

.features {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: stretch;
}

.feature {
    flex: 1;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}

.feature:hover {
    transform: translateY(-10px);
}

.icon {
    font-size: 40px;
    color: #007bff;
    margin-bottom: 10px;
}

.feature h4 {
    font-size: 18px;
    color: #0056b3;
    margin: 10px 0;
}

.feature p {
    font-size: 14px;
    color: #555;
}


#carouselExampleAutoplaying {
    height: 600px; 
    overflow: hidden; 
    width: calc(100% - 200px); 
    padding-left: 100px; 
    padding-right: 100px; 
    box-sizing: border-box; 
    margin: 0 auto; 
}


#carouselExampleAutoplaying .carousel-inner {
    height: 100%;
    width: 100%;
    display: flex; 
}


#carouselExampleAutoplaying .carousel-item {
    height: 100%; 
    width: 100%;  
}


#carouselExampleAutoplaying .carousel-item img {
    width: 80%;  
    height: 100%; 
    object-fit: cover; 
    object-position: center; 
    display: block; 
    margin: 0 auto; 
}


.carousel-control-prev, .carousel-control-next {
    z-index: 2; 
    position: absolute; 
    top: 50%; 
     transform: translateY(5%) translateX(25%); 
 
}

.carousel-control-next {
    transform: translateY(5%) translateX(-25%);
}

.services{
    text-align: center;
    margin: 40px 10px;
    padding: 20px;
    background-color: #f8f9fa;
}

.services h3{
    font-size: 24px;
    color: #0056b3;
    margin-bottom: 20px;
}


.ourServices{
    display: flex;
    
    gap: 20px;
   
}

.service{
    flex: 1;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}

.service h4{
    font-size: 18px;
    color: #0056b3;
    margin: 10px 0;
}

.service p{
    font-size: 14px;
    color: #555;
}

.service:hover{
    transform: translateY(-10px);
}



.carousel-container {
    max-width: 1600px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
  }

.carousel-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.carousel{
    position: relative; 
    overflow: hidden;
    width: 100%;

    display: flex;
}

.carousel-track {
    display: flex;
    gap: 10px;
    transition: transform 0.5s ease;
    padding: 0 10px;
  }
.carousel-card{
    /*min-width: 300px; */
    margin: 0 10px;
    border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;

  flex: 0 0 23%;
  text-align: center;
  box-sizing: border-box;
}

.carousel-image{
    width: 100%;
    height: 200px; 
   object-fit: cover;
   object-position: center;
}

.carousel-text{
    position: absolute;
    top: 150px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.carousel-text:hover {
    background-color: #ffc107;
    color: black;
}

.carousel-button{
    position: absolute;
    top: 339%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.prev-button {
    left: 20px;
  }

  .next-button {
    right: 20px;
  }

  .carousel-button:hover {
    background-color: #ffc107;
  }

 .enquiry{
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #d8e2d854;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
 }

 .enquiry h3{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
 }

 .enquiry input, .enquiry textarea{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f9fefa;
    box-sizing: border-box;
    font-size: 1rem;
 }

 .enquiry table{
    width: 100%;
    border-collapse: collapse;
 }

 .enquiry table td {
    padding: 0 10px;
  }


  .reviews{
    /*margin-top: 30px;*/
   /* margin-left: 20px;*/
    /*margin-right: 20px;*/
    max-width: 1600px;
    padding: 20px;
   /* background-color: rgba(0, 0, 0, 0.067);*/
   background: linear-gradient(145deg, #ffffff, #f0f0f0);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .reviews-title{
    text-align: center;
    padding: 30px;
    padding-left: 140px;
    font-size: 32px;
    font-weight: bold;
    color: #0056b3;
    
    margin-bottom: 30px;
  }

  .profile{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }

  .profile img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    
  }

  .review-cards-container{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
  }

  .image-container{
    flex: 1;
    padding: 10px;
  }

  .image-container img{
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .review-card{
    position: relative;
    flex: 1;
    background: #fff;
    border-radius: 15px;
    padding: 30px 40px;
    margin-right: 30px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .review-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}

  .review-content {
    text-align: left;
    color: #333;
    margin-bottom: 20px;
    line-height: 1.6;
}

  .rating {
    font-size: 18px;
    color: #ffc107; 
  }

  .carousel-buttons-reviews{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
      display: flex;
      justify-content: space-between;
      
  }

  .carousel-button-review{
    background-color: #1b1e20b4;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .carousel-button-review:hover{
    background-color: #131415;
  }

  .prev-button-r {
    position: absolute;
    left: -25px; 
}

.next-button-r {
    position: absolute;
    right: -25px; 
}

/*
.footer{
  background-image: url(BANNER.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 790px;
  color: white;
  opacity: 0.9;
  padding: 40px;
 
 
}
  */

  .footer {
    background-image: url(BANNER.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center; 
    height: 400px; 
    color: white;
    opacity: 0.9;
    padding-top: 60px; 
    padding-bottom: 500px;
  }

.section1 {
  text-align: center;
  margin-bottom: 30px;
}

.subscription{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.subscription input {
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 20px;
}

.subscription button {
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.subscription button:hover{
  background-color: #ffc107;
}
/*

.part1{
  display: flex;
}

.section2{
  border: solid 1px black;
}
  */

  .section2 {
    padding: 50px;
    margin: 20px auto;
    background-color: rgba(0, 0, 0, 0.5); 
    width: 90%; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    
  }

.details{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.home{
  display: flex;
  gap: 40px;
}

.contactDetails .secondPart{
  margin-left: 30px;
}


.home ul {
  list-style: none;
  padding: 0;
}


.contactDetails{
  display: flex;
  margin-left: 30px;
  
}

.icons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-left: 50px;
}

.icons a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}